{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacen Yuyitos</title>
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static  'app/css/estilo.css' %}">
    <script src="{% static 'app/js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
</head>

<!--Navbar-->

<body style="background-image: url({% static 'app/img/fondotester.jpg' %})">

    <nav>
        <div class="nav-wrapper" style="background-color: #DD4A48;">
            <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons" style="font-style: normal;"><img src="{% static 'app/img/2.png' %}" alt=""></a>
            <ul class="right hide-on-med-and-down">
                <li><input class="form-control me-2" style="margin-top: 15px;" type="search" placeholder="Producto" name="buscar" aria-label="Search"></li>
                <li><a onclick="myfunc()"><i class="fa fa-search" style="font-size: medium;"></i></a></li>
                <li><a href="{% url 'catalogo' %}" style="font-size: medium; font-style: normal;">Catálogo</a></li>
                <li><a href="{% url 'productos' %}" style="font-size: medium; font-style: normal;">Productos</a>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" style="font-size: medium; font-style: normal;">Cerrar Sesion</a></li>
                <li>
                    <a href="#" style="font-size: medium; font-style: normal;" >{{user.username}}</a>
                </li>
                {% else %}
                    <li><a href="{% url 'login' %}" style="font-size: medium; font-style: normal;">Iniciar Sesion</a></li>
                {% endif %}
                </li>
                <li><a href="{% url 'carritodecompras' %}"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br><br><br><br><br><br><br>
    <!--Fondo de la página-->


    {% block contenido %}

    {% endblock %}
    <!--Espaciados-->
    <br><br>
    <!--Footer-->
    <footer class="page-footer" id="footers" style="background-color: #DD4A48;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><b>Acerca de Almacen YUYITOS</b></h5>
                    <a href="{% url 'quienessomos' %}">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">¿Quienes Somos?</H6>
                        </p>
                    </a>
                    <a href="">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">Términos y condiciones</H6>
                        </p>
                    </a>
                    <a href="">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">Politica de privacidad</H6>
                        </p>
                    </a>
                    <a href="">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">Información legal</H6>
                        </p>
                    </a>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">¡Síguenos en instagram!</h5>
                    <ul>
                        <li><a class="fa fa-instagram" href="https://www.instagram.com/almacenyuyitos/"
                                style="color: white; font-size: 20px;"></a></a>
                            <br><br>
                            <h5 class="white-text">¡Medios de Pago! <br> <br>
                                <p>- RedCompra <br><br></p>
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2022 Copyright Pagina Web
                <a class="grey-text text-lighten-4 right" href="https://wa.me/+56994888066">¡Contáctanos!&nbsp;&nbsp;<p
                        class="fa fa-whatsapp"></p></a>
            </div>
        </div>

    </footer>
    {% block js %}
    {% endblock %}
</body>

</html>