{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
  <br><br><br>
  <div class="card" style="left: 570px;width: 300px; border-radius: 20px;">
    <br>
    <form class="form-inline" action="/action_page.php" style="text-align: center;">
      <label for="email2" class="mb-2 mr-sm-2"></label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Ingresar producto" name="producto" style="text-align: center;">
      <br><br> 
      <div style="text-align: center;">
      <button type="submit" class="btn btn-primary mb-2">Buscar</button>
      </div>
    </form>
    <br>
  </div>
  <!--Espaciados-->
  <br><br><br><br><br><br><br><br>  <br><br><br><br><br><br><br><br>
  {% endblock contenido %}
  {% block js %}
  
  {% endblock js %}