<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
</head>

<!--Navbar-->
<nav>
  <div class="nav-wrapper" style="background-color: #DD4A48;">
    <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons" style="font-style: normal;"><img src="{% static 'app/img/2.png' %}" alt=""></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'busqueda' %}"><i class="fa fa-search" style="font-size: medium;"></i></a></li>
      <li><a href="{% url 'InicioSesion' %}" style="font-size: medium; font-style: normal;">Iniciar Sesion</a></li>
      <li><a href="{% url 'productos' %}" style="font-size: medium; font-style: normal;">Catálogo</a></li>
      <li><a href="{% url 'carritodecompras' %}"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
    </ul>
  </div>
</nav>
<!--Fondo de la página-->
<body style="background-image: url({% static 'app/img/fondotester.jpg' %});" >
    <br><br><br>
    <div class="card" style="left: 570px;width: 300px; border-radius: 20px;">
        <br>
        <h2 style="text-align: center;">Datos de la dirección</h2>
        <form class="form-inline" style="text-align: center;">
          <label for="email2" class="mb-2 mr-sm-2"> <h5><b style="color: black;">Nombres y Apellidos</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Ingresar Nombres y Apellidos" name="email" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Email</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar Email" name="pswd" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Numero Telefónico</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar numero de telefono" name="pswd" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Dirección</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar Direccion" name="pswd" style="text-align: center;">
          <br><br>
          <div style="text-align: center;">
            <button type="submit" class="btn btn-primary mb-2"><p style="color: black;"><a href="{% url 'mediosdepago' %}">Pagar</a></p></button>
          </div>
        </form>
        <br>
      </div>
  <!--Espaciados-->
  <br><br><br><br><br><br><br>
<!--Footer-->
<footer class="page-footer" id="footers" style="background-color: #DD4A48;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><b>Acerca de Almacen YUYITOS</b></h5>
        <a href="{% url 'quienessomos' %}"><p class="grey-text text-lighten-4"><H6 style="color: white;">¿Quienes Somos?</H6></p></a>
        <a href=""><p class="grey-text text-lighten-4"><H6 style="color: white;">Términos y condiciones</H6></p></a>
        <a href=""><p class="grey-text text-lighten-4"><H6 style="color: white;">Politica de privacidad</H6></p></a>
        <a href=""><p class="grey-text text-lighten-4"><H6 style="color: white;">Información legal</H6></p></a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">¡Síguenos en instagram!</h5>
        <ul>
          <li><a class="fa fa-instagram" href="https://www.instagram.com/almacenyuyitos/" style="color: white; font-size: 20px;"></a></a>
          <br><br><h5 class="white-text">¡Medios de Pago! <br> <br><p>- RedCompra <br><br></p></h5></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Copyright Pagina Web
    <a class="grey-text text-lighten-4 right" href="https://wa.me/+56994888066">¡Contáctanos!&nbsp;&nbsp;<p class="fa fa-whatsapp"></p></a>
    </div>
  </div>

</footer>
</body>

</html>