{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
  <br><br><br>
  <div>
    <br>
    <h2 style="text-align: center;">¿Quienes Somos?</h2>
    <br><br>
    <p style="text-align: center;">Desde nuestra pagina web nos dedicamos a facilitar la compra de nuestros clientes <br>
    mediante la realización de pago por nuestra pagina web, como también para que de <br>
    esta forma nuestros clientes puedan visualizar los productos disponibles en nuestro <br>
    almacen.</p>
    <br><br>
    <p style="text-align: center; font-size: x-large;">Valores</p>
    <p style="text-align: center;">Rapidez y fiabilidad en la preparación y entrega de los pedidos que recibimos. <br>
    Atención personalizada a todos nuestros clientes. <br>
    Máximo grado de compromiso para satisfacer las peticiones de nuestros clientes. <br>
    Flexibilidad ante los cambios requeridos por nuestros clientes. <br>
    Respeto, tolerancia y confianza. <br>
    </p>
    <br>
  </div>
  <!--Espaciados-->
  <br><br><br><br><br><br><br>
  {% endblock contenido %}
  {% block js %}
  
  {% endblock js %}