{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
    
    <div class="card" style="left: 450px;width: 600px; border-radius: 20px;">
        <br>
        <h2 style="text-align: center;">Registrarse</h2>
        <form class="form-inline" action="/action_page.php" style="text-align: center;">
          <label for="email2" class="mb-2 mr-sm-2"> <h5><b style="color: black;">Nombres y Apellidos:</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Ingresar nombres y apellidos" name="email" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Rut:</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar Rut" name="pswd" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Fecha de Nacimiento:</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar fecha de nacimiento 99/99/9999" name="pswd" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Numero de Telefono u Celular:</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar telefono/Celular" name="pswd" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Email:</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar email" name="pswd" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Crear Contraseña:</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar contraseña" name="pswd" style="text-align: center;">
          <label for="pwd2" class="mb-2 mr-sm-2"><h5><b style="color: black;">Volver a ingresar contraseña:</b></h5></label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Ingresar contraseña" name="pswd" style="text-align: center;">
          <br><br> 
          <div style="text-align: center;">
          <button type="submit" class="btn btn-primary mb-2">Registrarse</button>
          </div>
        </form>
        <br>
      </div>
  <!--Espaciados-->
  <br><br>
  {% endblock contenido %}
  {% block js %}
  
  {% endblock js %}